input.dropdownInput {
    border: none;
    width: calc(100% - 2em);
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
    transition: border-bottom 300ms ease-out;
    margin: 0 1em;
    background-color: transparent;
    font-family: roboto;
}

input.dropdownInput.fill {
    background-color: whitesmoke;
}

input.dropdownInput:focus {
    outline: none!important;
    border-bottom: 2px solid #11c5a7;
}

input.dropdownInput.dark {
    color: white;
}

input.dropdownInput.dark::placeholder {
    color: rgb(230, 230, 230);
}

.button.mute {
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
}

.button.mute:active {
    background-color: lightgrey;
}

.button.disabled {
    color: grey;
    border-color: whitesmoke;
}

.button.disabled:active {
    background-color: grey;
    color: whitesmoke;
}

.button.round {
    border-radius: 50%;
}

.button.blur {
    background-color: rgba(0, 0, 0, 0.5);
    color: #eaeaea;
}

.button.blur:active {
    background-color: rgba(0, 0, 0, 0.9);
    color: grey;
}

.small {
    font-size: 0.85em;
}

/* button */

.button.semi-round {
    border-radius: 15px;
}

.button.square {
    border-radius: 0;
}

.button.dark {
    background-color: #185875;
    border: none;
    color: whitesmoke;
}

.button.dark:active {
    background-color: #117cad;
    color: whitesmoke;
}

.button.dark.secondary {
    background-color: #14739d;
    color: whitesmoke;
}

.button.dark.secondary:active {
    background-color: #0e5675;
    color: whitesmoke;
}

.button.green {
    background-color: #0f9b0f;
}

.button.green:active {
    background-color: #18c218;
}

.singleLine {
    white-space: nowrap !important;
}

.headerInput {
    text-align: center;
    font-size: 2em;
    font-family: heebo;
    font-weight: bolder;
}

.pageBody {
    height: calc(100vh - 3em);
    overflow-y: scroll;
    overflow-x: hidden;
}

.pageFooter {
    height: 3em;
    display: inline-flex;
    width: 100%;
}

.pageFooter.footerShadow {
    box-shadow: 0 -5px 10px 0px rgb(189, 189, 189);
    z-index: 1000;
    position: absolute;
}

.footerButton {
    line-height: 3em!important;
    background-color: whitesmoke;
    color: #81a2cb;
    border-right: 1px solid grey;
}

.footerButton:last-child {
    border-right: none;
}

.footerButton:active {
    background-color: #81a2cb;
}

.validateError {
    color: red;
}

/* checkbox */

.checkbox {
    height: 18px;
    width: 18px;
    background-color: rgb(243, 240, 240);
    border-radius: 0px;
    will-change: background-color, border-radius;
    transition: background-color 250ms ease-out, border-radius 250ms ease-out;
    cursor: pointer;
    position: relative;
    top: 6px;
}

.checkbox.table {
    height: 18px;
    width: 18px;
    border-radius: 0px;
    will-change: background-color, border-radius;
    transition: background-color 250ms ease-out, border-radius 250ms ease-out;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(161, 161, 161);
}

.checkbox.table {
    height: 18px;
    width: 18px;
    border-radius: 0px;
    will-change: background-color, border-radius;
    transition: background-color 250ms ease-out, border-radius 250ms ease-out;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(161, 161, 161);
}

.checkbox.head.checked {
    background-color: #e74c3c;
    border-radius: 4px;
}

.checkbox.checked {
    background-color: #185875;
    border-radius: 4px;
}

.checkbox.disabled {
    background-color: rgb(209, 209, 209)!important;
    cursor: not-allowed;
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background-image: linear-gradient(90deg, #0a5779, #000000);
    border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #3490b8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -25px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0e5899;
}

input[type=range]:active::-webkit-slider-runnable-track {
    background: #0e5899;
}