<div id="homePage" class="page">
    <div id="messageContainer" class="overlayContainer">
        <div class="overlayButton1 button dark fa fa-times p-2" onclick="hideMessage()"></div>
        <div class="overlayButton2 button dark secondary fa fa-eraser p-2" onclick="app.clear()"></div>
        <div id="message"></div>
    </div>
    <div id="deviceContainer" class="overlayContainer">
        <div class="overlayButton1 button dark fa fa-times p-2" onclick="hideDevice()"></div>
        <div class="overlayButton2 button dark secondary fa fa-sync p-2" onclick="listPorts()"></div>
        <div id="device"></div>
    </div>
    <div id="trimContainer" class="overlayContainer">
        <div class="overlayButton1 button dark fa fa-times p-2" onclick="hideTrim()"></div>
        <div class="overlayButton2 button dark secondary fa fa-redo p-2" onclick="resetTrim(event)"></div>
        <h2 class="text-center mb-4">Set Steering Trim</h2>
        <input type="range" class="w-75 centerBoth position-relative" onchange="setTrim(event)" min="0" max="100"
            value="50" id="trimSlider" />
        <h3 class="text-center mt-5" id="trimValue">0&#186;</h3>
        <div class="row w-100 m-0 p-0">
            <div class="col position-relative">
                <div class="fa fa-arrow-left position-relative centerHorizontal p-2 button secondary dark"
                    onclick="incrementTrim(false)"></div>
            </div>
            <div class="col position-relative">
                <div class="fa fa-arrow-right position-relative centerHorizontal p-2 button secondary dark"
                    onclick="incrementTrim(true)"></div>
            </div>
        </div>
    </div>


    <div class="row m-0 w-100 p-0">
        <div class="col-5 position-relative vh-100">
            <div class="outerCircle centerBoth">
                <div class="circleTop">
                    <div class="fa fa-arrow-up"></div>
                </div>
                <div class="circleRight"></div>
                <div class="circleBottom">
                    <div class="fa fa-arrow-down"></div>
                </div>
                <div class="circleLeft"></div>
                <div class="thumbStick" id="thumb1"></div>
            </div>
        </div>
        <div class="col-2 vh-100">
            <div class="h-fit position-relative centerVertical">
                <div class="button secondary fa fa-wifi w-100 p-2" id="connectButton" onclick="app.manageConnection()">
                </div>
                <div class="button secondary fa fa-sync w-100 p-2" onclick="showDevice()"></div>
                <div class="button secondary fa fa-car w-100 p-2" onclick="showTrim()"></div>
                <div class="button mute fa fa-code w-100 p-2" onclick="showMessage()"></div>
            </div>

        </div>
        <div class="col-5 position-relative vh-100">
            <div class="outerCircle centerBoth">
                <div class="circleTop">
                    <div class="fa fa-lightbulb" id="headlight" onclick="toggleHeadlight(event)"></div>
                </div>
                <div class="circleRight">
                    <div class="fa fa-arrow-right"></div>
                </div>
                <div class="circleBottom">
                    <div class="fa fa-lightbulb" id="taillight" onclick="toggleTaillight(event)"></div>
                </div>
                <div class="circleLeft">
                    <div class="fa fa-arrow-left"></div>
                </div>
                <div class="thumbStick" id="thumb2"></div>
            </div>
        </div>
    </div>
</div>