.verticalRange {
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
}

.outerCircle {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    border: 1px solid grey;
    position: relative;
}

.circleRight{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}
.circleLeft{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}
.circleTop{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0, 0);
}
.circleBottom{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 0);
}

.thumbStick {
    position: absolute;
    height: 25vh;
    width: 25vh;
    background-color: grey;
    border-radius: 50%;
    top: calc(50% - 12.5vh);
    left: calc(50% - 12.5vh);
}

.overlayContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    height: 0;
    width: 0;
    background-color: #aaaaaa;
    opacity: 0;
    color: white;
    top: 0;
    left: 0;
    transition: height 750ms ease-in-out, width 0ms ease-in-out 750ms, opacity 750ms ease-in-out;
    padding: 0.5em;
    padding-top: 1.5em;
    z-index: 1000;
}

.overlayContainer.active {
    height: 100vh;
    width: 100vw;
    opacity: 0.95;
    transition: height 750ms ease-in-out, width 0ms ease-in-out, opacity 750ms ease-in-out;
}

.overlayButton1 {
    position: absolute;
    top: 1em;
    right: 1em;
}

.overlayButton2 {
    position: absolute;
    top: 1em;
    right: 3em;
}

.deviceItemContainer {
    padding: 1em;
    background-color: white;
    float: left;
    width: fit-content;
    margin: 2%;
    color: #091471;
    border-radius: 3px;
    font-family: baloo;
    font-size: 17px;
    transition: background-color 250ms ease-out;
}
.deviceItemContainer:active{
    background-color: lightgrey;
}

.deviceItemAddress {
    font-size: 0.8em;
    color: grey;
    font-family: dosis;
}
#headlight{
    transition: color 750ms ease-in-out;
}
#headlight.active{
    color: cyan;
}
#taillight{
    transition: color 750ms ease-in-out;
}
#taillight.active{
    color: magenta;
}